body {
    background-color: rgba(240, 243, 243, 0.966);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header {
    border-bottom: black solid 2px;
    width: 500px;
    height: 100px;
    margin: 50px auto 150px auto;
    padding-top: 20px;
}

#input {
    background-color: white;
    border: black solid 2px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 500px;
    height: 175px;
    margin: -70px auto 70px auto;
    padding-bottom: 75px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.555);
}

#input form {
    background-color: white;
    width: 300px;
    height: 30px;
    margin: 10px auto 10px auto;
    padding-top: 10px;
}

#submit {
    background-color: rgb(180, 175, 175);
    border-radius: 10px;
}

#inputbox {
    border-radius: 10px;
    border-width: 2px;
}

#response p {
    background-color: white;
    border: black solid 2px;
    border-radius: 100px;
    width: 400px;
    height: auto;
    margin: 15px auto 15px auto;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.555);
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow:5px 5px 5px blue ;
}

p {
    font-size: large;
    font-weight: 1000;
    display: wrap;
    flex-wrap: wrap;
}

#congrats {
    margin-right: 10px;
}

#hidden {
    display: none;
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 168, 129);
    border-radius: 100px;
    box-shadow: 10px 10px 20px black;
    right: 0;
    left: 0;
    top: -15px;
    margin: 5% auto;
    width: 600px;
    height: 700px;
}

#winnerh2 {
    font-size: 60px;
    text-transform: uppercase;
    text-shadow:5px 5px 5px white;
    flex-wrap: wrap;
}

#babyyoda {
    flex-wrap: wrap;
    padding: 0px 15px 0px 15px;
    border-radius: 80px;
}

footer {
    border-top: 2px solid black;
    margin-top: 75px;
}
